@font-face {
  font-family: Ginto;
  src: local("Ginto"),
    url("../fonts/e4308d367bcb6c91660d8618148e307d.woff") format("woff");
  font-weight: normal;
}

odyy {
  background-color: #2f3136;
}
.banner {
  height: 50px;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  /* background-color: #0050b3; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-block {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-link,
.login-login,
.login-logout,
.login-username-and-tag {
  font-family: "Ginto";
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.login-login {
  display: none;
}
.login-avatar {
  border-radius: 50%;
  height: 50px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-profile {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
